.results-output{
    display: flex;
    flex-direction: column;
}

.limit-field{  
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.display-prompt-line{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 10px;    
}

.limit-text{
    font-size: calc(20px );
}
.gif-image{
    display: inline-block;
    border-style: outset;
    border-color: rgb(59, 62, 240);
    width:100%;
    height:auto;
    padding-top:15px ;
    padding-bottom: 10px;
}