.results-output{
    display: flex;
    flex-direction: column;    
    justify-content: start;
}

.limit-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1000px;
}